@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #808080 !important;
}

body {
  padding-right: 0 !important;
}
